<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Book Tracker</h1>
    <div class="main-container">
        <h2>Add a new book!</h2>
        <form action="/add-book" method="POST">
            <label>Book Title:<br><input type="text" name="title" required></label><br>
            <label>Summary:<br><textarea name="summary" required></textarea></label><br>
            <button type="submit">Add book</button>
        </form>
        <br>
        <br>
        <br>
        <% if (books.length > 0) { %>
            <h2>Your book list!</h2>
            <% for (let book of books) { %>
                <div class="book">
                    <h3>
                        <%= book.title %>
                    </h3>
                    <p>
                        <%= book.summary %>
                    </p>
                    <form action="/remove-book" method="POST">
                        <input type="hidden" name="deleteBook" value="<%= books.indexOf(book) %> ">
                        <button type="submit">Delete this book</button>
                    </form>
                </div>
            <% } %>
        <% } else { %>
            <h2>You have not books saved!</h2>
        <% } %>

    </div>

</body>

</html>