* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.main-container {
    max-width: 400px;
    margin: 15px auto;
}

h2 {
    text-align: center;
    margin: 10px 0;
}

input,
textarea {
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    height: 150px;
}

button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
}

p {
    margin-bottom: 10px;
}

.book {
    margin: 10px 0 20px;
}