* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    background-color: rgb(70, 69, 69);
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.main-container {
    max-width: 250px;
    margin: 15px auto;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

input,
button,
textarea {
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid rgb(165, 163, 163);
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: .5rem;
    width: 103%;
    background-color: rgb(70, 69, 69);
    color: white;
}